@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  max-width: 100%;
  letter-spacing: 1.5px;
}

h1, h2, h3, h4, h5, h6, p, span, div {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #3f3f3f;
}

 p {
  font-family: 'Syne Mono', monospace;
  color: #4f4f4f
 }
